/*
html {
    font-size: 16px;                                not good practice to set a forced pixel size, best to just let the browser handle the users prefered size
}

*/

h1 {
    border: 2px dashed red;
    width: 20%;                                         /* sets the width of the element (20% of the page line)*/
    font-size: 3rem;
    padding: 0.5em;
}

p {
    font-size: 2rem;                                    /* use rems for font sizes */
    width: 40ch;                                        /* width is 40 characters long */ 
}